  {{!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
</nav> --}}






<section id="roomListingsSection">
    <h2>Room Listings</h2>
    {{#unless rooms}}
    <div class="emptyBody middleText">
      <h2>Sorry, we coulnd't find any rooms</h2>
    </div>
      
    {{/unless}}
    <div id="roomListingsBlock" class="card-deck">
        {{#each rooms}}
          <a href="/room/{{ this._id }}" class="card-links">
            <div class="card">
                <img class="card-img-top" id="testImage" src="/uploads/rooms/{{this.user}}/{{this.title}}/{{this.roomPic}}" alt="Card image cap">
                <div class="card-body">
                    <p class="aptLocation">{{this.address}}</p>
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">&#36;{{this.price}} CAD/night</p>
                    <small><span class="ratingStar">&#9733;</span><span class="ratingNum"> 4.9</span> (325) · Superhost</small>
                </div>
            </div>
          </a>
        {{/each}}

    
        {{!-- <div class="card">
            <img class="card-img-top" src="img/room2.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="aptLocation">entire apartment · milan</p>
                <h5 class="card-title">Beautiful flat in Milano center !!!</h5>
                <p class="card-text">&#36;85 CAD/night</p>
                <small><span class="ratingStar">&#9733;</span><span class="ratingNum"> 4.93</span> (815) · Superhost</small>
            </div>
        </div>

    
        <div class="card">
            <img class="card-img-top" src="img/room3.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="aptLocation">entire house · pioneertown</p>
                <h5 class="card-title">Off-grid itHouse</h5>
                <p class="card-text">&#36;530 CAD/night</p>
                <small><span class="ratingStar">&#9733;</span><span class="ratingNum"> 4.93</span> (253)</small>
            </div>
        </div>
    

        <div class="card">
            <img class="card-img-top" src="img/room4.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="aptLocation">entire apartment · phuket, thailand</p>
                <h5 class="card-title">White Breeze Pool 1BD Apartment</h5>
                <p class="card-text">&#36;80 CAD/night</p>
                <small><span class="ratingStar">&#9733;</span><span class="ratingNum"> 4.67</span> (91) · Superhost</small>
            </div>
        </div>

    
        <div class="card">
            <img class="card-img-top" src="img/room5.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="aptLocation">hut · selat</p>
                <h5 class="card-title">HIDEOUT BALI - Eco Bamboo Home</h5>
                <p class="card-text">&#36;224 CAD/night</p>
                <small><span class="ratingStar">&#9733;</span><span class="ratingNum"> 4.80</span> (395) · Superhost</small>
            </div>
        </div>

    
        <div class="card">
            <img class="card-img-top" src="img/room6.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="aptLocation">entire loft · montreal</p>
                <h5 class="card-title">Skylift Loft in Old Montreal</h5>
                <p class="card-text">&#36;105 CAD/night</p>
                <small><span class="ratingStar">&#9733;</span><span class="ratingNum"> 4.77</span> (357)</small>
            </div>
        </div> --}}
    </div>
</section>


