<section id="roomListingsSection">
    <h2>Room Listings</h2>

    <form method="POST" action="/listings">
        <div class="form-row listing-search">
            <div class="form-group">
                <label>CHECK-IN</label>
                <input type="date" class="form-control" id="inputDate" name="checkinDate" placeholder="mm/dd/yyyy">
                <small class="text-danger" >{{checkinError}}</small> 
            </div>
            <div class="form-group">
                <label>CHECK-OUT</label>
                <input type="date" class="form-control" id="inputDate" name="checkoutDate" placeholder="mm/dd/yyyy">
                <small class="text-danger" >{{checkoutError}}</small>
            </div>
          <button class="btn-lg btn-outline-primary" id="searchBut" type="submit">Search</button>
        </div>
        <small class="text-danger" >{{datesError}}</small>
    </form>
    

    {{#unless rooms}}
    <div class="emptyBody middleText">
      <h2>Sorry, we coulnd't find any rooms</h2>
    </div>
      
    {{/unless}}
    <div id="roomListingsBlock" class="card-deck">
        {{#each rooms}}
          <a href="/room/{{ this._id }}" class="card-links">
            <div class="card">
                <img class="card-img-top" id="testImage" src="{{this.roomPic}}" alt="Card image cap">
                <div class="card-body">
                    <p class="aptLocation">{{this.address}}</p>
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">&#36;{{this.price}} CAD/night</p>
                    <small><span class="ratingStar">&#9733;</span><span class="ratingNum"> 4.9</span> (325) · Superhost</small>
                </div>
            </div>
          </a>
        {{/each}}
    </div>
</section>


