<div id="dashboardBlock">
    <h2>Booked Rooms</h2>
    {{#each bookings}}
        
            <div id="roomBlock">
                <div>
                    <a href="/room/{{this.room._id}}"><img src="{{this.room.roomPic}}" alt=""></a>
                    <a href="/room/{{this.room._id}}"><h4>{{this.room.title}}</h4></a>
                </div>
                <div class="dates-block">
                    <p>{{this.checkIn}}&nbsp;&nbsp;-&nbsp;&nbsp;{{this.checkOut}}</p>
                </div>
                <div>
                    {{!-- <a href="dashboard/booking/edit/{{this.room._id}}" class="btn btn-outline-secondary">Edit</a> --}}
                    <form method="POST" action="/dashboard/booking/delete/{{this.booking._id}}?_method=DELETE" id="js-delete-room-form">
                        <input type="submit" value="Delete" class="btn btn-outline-danger js-delete-room-button">
                    </form>
                </div>
            </div>
        </a>
    {{else}}
        You haven't booked any room yet.
    {{/each}}
</div>