<div id="dashboardBlock">

    {{#each bookings}}
        
            <div id="roomBlock">
                <div>
                    <a href="/room/{{this.room._id}}"><img src="{{this.room.roomPic}}" alt=""></a>
                    <a href="/room/{{this.room._id}}"><h4>{{this.room.title}}</h4></a>
                </div>
                <div>
                    <p>{{this.booking.checkIn}} - {{this.booking.checkOut}}</p>
                </div>
                <div>
                    <a href="/room/edit/{{this._id}}" class="btn btn-outline-secondary">Edit</a>
                    <form method="POST" action="/room/delete/{{this._id}}?_method=DELETE" id="js-delete-room-form">
                        <input type="submit" value="Delete" class="btn btn-outline-danger js-delete-room-button" data-room-id={{this._id}}>
                    </form>
                </div>
            </div>
        </a>
    {{else}}
        You haven't booked any room yet.
    {{/each}}
</div>